//phone
@media screen and (max-width: 768px) {

}

//desktop
@media screen and (min-width: 769px) {

}

.h1{
    text-align:center;
}

.form{
    padding:20px;
    border:2px solid black;
    
    input{
        display:block;
        margin-bottom:10px;
    }
}