//phone
@media screen and (max-width: 768px) {
    .user{
        margin:auto;
    }
}

//desktop
@media screen and (min-width: 769px) {

}

.user{

    padding:20px;
    margin-top:20px;
    border:2px solid black;
}